@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/Content/css/jquery.dataTables.css">
    <link rel="stylesheet" href="/Content/css/metro-bootstrap.css">
    <link rel="stylesheet" href="/Content/css/metro-bootstrap-responsive.css">
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/css/greenfield.css">
    <link rel="stylesheet" href="/Content/css/iconFont.min.css">
    <script src="/Content/js/jquery.dev-2.1.3.js"></script>
    <script src="/Content/js/jquery-ui.js"></script>
    <script src="/Content/js/metro.min.js"></script>
    <script src="/Content/js/jquery.dataTables.js"></script>
    <script src="/Content/js/knockout.js"></script>
    <script src="/Content/js/knockout.mapping.js"></script>
    <script src="/Content/js/underscore.js"></script>
    <script src="/Content/js/typeahead.js"></script>
    <script src="/Content/js/handlebars.js"></script>
    <script src="/Content/js/typeahead.jquery.js"></script>

    <title>Greenfield</title>
</head>
<body class="metro">
    <nav class="navigation-bar bg-greenfield">
        <nav class="navigation-bar-content container">
            <a href="#" class="element"><i class="fa fa-trello"></i> GREENFIELD</a>

            <span class="element-divider"></span>

            <div class="element">
                <a class="dropdown-toggle" href="#">Purchasing</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="#">Register Purchase Order</a></li>
                    <li><a href="#">Register Purchase Invoice</a></li>
                    <li><a href="#">Find Purchase Order</a></li>
                </ul>
            </div>
            <div class="element">
                <a class="dropdown-toggle" href="#">Inventory</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="/ui/inventory/">List Inventory</a></li>
                    <li><a href="/ui/inventory/edit/article/">New Article</a></li>
                </ul>
            </div>

            <div class="element">
                <a class="dropdown-toggle" href="#">Sales</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="/ui/sales/">List Sales Order</a></li>
                    <li><a href="/ui/sales/edit/order/">Register Sales Order</a></li>
                </ul>
            </div>

            <div class="element">
                <a class="dropdown-toggle" href="#">Economics</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="#">Show Verification List</a></li>
                    <li><a href="#">Find Economic Event</a></li>
                    <li><a href="#">Show Result</a></li>
                </ul>
            </div>
        </nav>
    </nav>
    <div id="global-progress-bar" data-animate="1" class="progress-bar small" data-role="progress-bar" data-value="0"></div>
    <div class="container">
        @RenderBody()
    </div>


    <script src="/Content/js/greenfield-helpers.js"></script>
    <script src="/Content/js/greenfield.js"></script>
</body>
</html>