@using System
@{
    Layout = "_BaseLayout.cshtml";
}
<div class="grid">
    <div class="row">
        <div class="span6">
            
            <div class="panel">
                <div class="panel-header">
                    Lastest Event
                </div>
                <div class="panel">
                    <div class="listview-outlook" data-role="listview">
                        <div class="list-group">
                            <a href="" class="group-title">Today</a>
                            <div class="group-content">
                                <a href="#" class="list">
                                    <div class="list-content">
                                        <span class="list-title">Sale Order: 3,014 SEK</span>
                                        <span class="list-subtitle">Delivered (DHL), Klarna Faktura</span>
                                        <span class="list-remark">Our Contact: Erik Jonsson Thoren</span>
                                    </div>
                                </a>
                                <a href="#" class="list">
                                    <div class="list-content">
                                        <span class="list-title">Article Added: ASUS GeForce 760 Ti</span>
                                        <span class="list-subtitle">Standard Price: 2,899 SEK</span>
                                        <span class="list-remark">4 in Stock</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="list-group collapsed">
                            <a href="" class="group-title">Yesterday</a>
                            <div class="group-content">
                                <a href="#" class="list">
                                    <div class="list-content">
                                        <span class="list-title">Inventory Update: AMD Radeon 980</span>
                                        <span class="list-subtitle">New Quantity: 34</span>
                                        <span class="list-remark">Change: +5</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="span8">


        </div>
    </div>
</div>